@import "tailwindcss";
@import "@heroui/styles"; 

@layer utilities {
  .bg-gradient-gold {
    background: linear-gradient(to right, #f59e0b, #d97706);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}